<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynth Voorraad</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-image: url('https://www.jesusislife.in/wp-content/uploads/2019/05/Savin-NY-Website-Background-Web.jpg');
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #333333;
            background-attachment: fixed;
            background-size: cover;
            background-position: bottom;
        }

        .container {
            background-color: #f0f0f0;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 2% auto;
            padding: 20px;
        }

.card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 100%; /* Voeg deze regel toe om de kaarten even groot te maken */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    flex-grow: 1;
    margin-bottom: 10px; /* Voeg deze regel toe om wat ruimte onder de tekst toe te voegen */
}

.btn-primary,
.btn-success {
    width: 100%;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.col-md-4 {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin-bottom: 20px;
}
        .btn-primary {
            background-color: #007BFF;
            border-color: #0056b3;
            color: white;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004386;
        }

        .btn-success {
            background-color: #28A745;
            border-color: #1e7e34;
            color: white;
        }

        .btn-success:hover {
            background-color: #1e7e34;
            border-color: #155724;
        }

header {
    background-color: #007BFF; /* Bright Blue */
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    text-align: left;
}

nav ul li {
    display: inline-block; /* Zorgt ervoor dat items naast elkaar blijven */
    margin: 0 10px; /* Aangepaste marge */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px; /* Kleinere tekstgrootte */
    transition: color 0.3s;
}

nav ul li a i {
    font-size: 14px; /* Kleinere icoongrootte */
}

/* Media Query voor kleinere schermen */
@media (max-width: 768px) {
    nav ul li {
        display: block; /* Items onder elkaar op kleine schermen */
        margin-top: 10px;
    }

    nav ul {
        text-align: center;
    }
}

        .floating-logo {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            padding: 10px;
        }

        .floating-logo img {
            width: 150px;
            height: auto;
        }

        .logout {
            float: right;
        }
		.card-img-top {
    height: 200px; /* Stel hier de gewenste hoogte in voor de afbeeldingen in de kaarten */
    object-fit: cover; /* Hiermee wordt de afbeelding behouden met dezelfde verhoudingen en bijgesneden om in de container te passen */
}
        /* Aangepaste stijlen voor mobiele weergave */
        @media (max-width: 768px) {
            .col-md-4 {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .card {
                margin-bottom: 20px; /* Voeg wat ruimte toe tussen de kaarten */
            }
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Flynth Voorraad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/tv-beheer"><i class="fas fa-tv"></i> TV Schermen voorraad</a></li>
                <li class="nav-item"><a class="nav-link" href="/bva"><i class="fas fa-tv"></i> AV apparatuur voorraad</a></li>
                <li class="nav-item"><a class="nav-link" href="/tv-toevoegen"><i class="fas fa-tv"></i> Apparatuur toevoegen</a></li>
                <li class="nav-item"><a class="nav-link" href="/tv-picken"><i class="fas fa-tv"></i> Apparatuur picken</a></li>
                <li class="nav-item"><a class="nav-link" href="/tv-kiezen"><i class="fas fa-tv"></i> Apparatuur reserveren</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Uitloggen</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <div style="text-align: center; margin-bottom: 20px;">
        <img src="https://www.flynth.nl/Portals/0/Flynth_logo.svg?ver=m2f-ZUmJcYKKep2CzZJIDg%3D%3D"
             alt="Flynth Logo" style="width: 200px; height: auto;">
    </div>
    <div class="floating-logo">
        <img src="https://i.postimg.cc/QtRQ9HWN/Beleef-AV-344.png" alt="BeleefAV Logo">
    </div>

    <h1 class="main-heading"><b>Welkom bij de overzichtspagina voor AV-voorraad van Flynth locaties</b></h1>

    <!-- Welkomsttekst -->
    <p>Dit is de overzichtspagina voor de AV-voorraad van Flynth locaties. Hier kunt u toegang krijgen tot verschillende functies voor het beheer van TV-schermen en uw gebruikersaccount. Klik op de kaarten hieronder om aan de slag te gaan.</p>
    <!-- Einde Welkomsttekst -->

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.freepik.com/free-vector/two-women-video-chatting-via-computer-monitor-friend-distance-flat-vector-illustration-communication-digital-technology_74855-13272.jpg?w=1060&t=st=1702377923~exp=1702378523~hmac=bacee06bb4f4825b8c66580097caf78281ccae3f0f15222e73a202564de8d6ea"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>TV Schermen voorraad</b></h5>
                    <p class="card-text">Beheer de TV schermen.</p>
                    <a href="/tv-beheer" class="btn btn-primary">Ga naar de voorraad</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.freepik.com/free-vector/woman-man-talking-online-video-call-communication-via-computer-screen-friends-waving-videoconference-talking-with-snacks-virtual-digital-meeting_575670-1747.jpg?w=900&t=st=1702377856~exp=1702378456~hmac=ceac5244475ab347b2251571fc22b1c2e45346c893058fa02a23657863f609bb"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>AV videoconference voorraad</b></h5>
                    <p class="card-text">Beheer de AV videoconference</p>
                    <a href="/bva" class="btn btn-success">Ga naar de voorraad</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.freepik.com/free-vector/smiling-girl-running-mailman-holding-letter-parcel-hands-postman-delivering-mail-flat-vector-illustration-delivery-service-concept-banner-website-design-landing-web-page_74855-22039.jpg?t=st=1702383539~exp=1702384139~hmac=0fb5bc09975e9726600a12ec16b10b6784914c92de79670833765a406f6641cc"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Apparatuur toevoegen</b></h5>
                    <p class="card-text">Voeg apparatuur toe.</p>
                    <a href="/tv-toevoegen" class="btn btn-success">Voeg apparatuur toe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.freepik.com/free-vector/hands-person-watching-family-children-photo_74855-6491.jpg?w=996&t=st=1702383452~exp=1702384052~hmac=fee82b3eb8187cf35ee20a45255e4591c0caf66902d1d13abf82178df4ec6581"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Apparatuur picken</b></h5>
                    <p class="card-text">Pick een scherm of videoconference apparatuur uit het overzicht.</p>
                    <a href="/tv-picken" class="btn btn-success">Pick een apparaat</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://img.freepik.com/free-vector/hand-holding-phone-taking-photo-waving-man-male-character-smartphone-screen-flat-vector-illustration-technology-photography-concept-banner-website-design-landing-web-page_74855-24179.jpg?t=st=1702383495~exp=1702384095~hmac=141d7fb8f2b0cfc8161612723a4c7d63ce53389ba24f6632015657151e5ae349"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><b>Apparatuur reserveren</b></h5>
                    <p class="card-text">Kies een scherm of videoconference apparatuur uit het overzicht.</p>
                    <a href="/tv-kiezen" class="btn btn-success">Reserveer een apparaat</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
